# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.flutter_build/
.idea/
.project
*.iml

# Android related
.android/
app/app.iml
app/build/
local.properties

# iOS related
ios/Flutter/.last_build_id
ios/Pods
ios/Runner.xcworkspace
ios/build/
ios/Runner.xcarchive
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
*.xcworkspace
*.xcuserdata
!default.xcworkspace

# Editor related
*.DS_Store
*.log
*.orig
*.swp
*.lock
.idea/
.vscode/
